{% extends 'changes.html' %}
{# id #}
{% block id %}
    <input type="text" value={{ author_obj.nid }}>
{% endblock id %}
{#标题#}
{% block modal_title %}
    <h3>作者：{{ author_obj.name }}</h3>
{% endblock modal_title %}


{#form表单#}
{% block modal_table %}
    <form>
        {% csrf_token %}
        <div class="row">
            <p class="col-xs-6 col-md-offset-2">
                <label for="id_name">{{ form.name.label }}</label>
                <input type="text" id="id_name" value={{ author_obj.name }} class="form-control">
                <span style="color: red" class="pull-right error"></span>
            </p>
            <p class="col-xs-6 col-md-offset-2">
                <label for="id_age">{{ form.age.label }}</label>
                <input type="text" id="id_age" value={{ author_obj.age }} class="form-control">
                <span style="color: red" class="pull-right error"></span>
            </p>
        </div>
    </form>
{% endblock modal_table %}
{% block js %}
    <script src="/static/js/change_author.js"></script>
{% endblock js %}
